p {
    color:red;
}

#paragraf{
    color:aqua;
}

.klasa {
    color:yellow;
}

a, span, div {
    background-color: blueviolet
}

li > a {
    background-color: green;
}

ul a {
    background-color: pink;
}

h1 + p {
    color:salmon;
}

h1 ~ p {
    color: sandybrown;
}

/* wykluczenie elementu */
ul#lista > li:not(.last) {
    background-color: crimson;
}


/* kolorowanie konkretnego elememtu */
ul#lista li:nth-child(3) {
    background-color: darkcyan;
}