body {
    background-color: black;
}

p {
    color:red;
}

#paragraf{
    color:aqua;
}

.klasa {
    color:yellow;
}

a, span, div {
    background-color: blueviolet
}

li > a {
    background-color: green;
}

ul a {
    background-color: pink;
}

