body     {
    background-color: darkturquoise;
}

div {
    width: 100px;
    height: 50px;
    }

#predefiniowane {
    background-color: aliceblue;
}

#hex {
    background-color: #f2b4a6;
}

#hex-skrocony {
    background-color: #ccc;
}

#rgba {
    background-color: rgba(12,64,4,0.6);
}